[Unit]
Description=treelights
After=network.target

[Service]
Environment=FLASK_CONFIG=production
ExecStart=${GUNICORN_PATH} --bind unix:${SOCKET} -m 007 --workers=1 --log-level=debug --graceful-timeout=2 wsgi:app
WorkingDirectory=${SERVER_DIRECTORY}
StandardOutput=inherit
StandardError=inherit
Restart=always
User=${SUDO_USER}
Group=www-data

[Install]
WantedBy=multi-user.target
