<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>Treelights</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Treelights</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 200px">Action</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              {% for key, a in animations.items() %}
              <tr>
                <th scope="row">
                  <a class="btn {% if key == mode %}btn-success{% elif a.is_off %}btn-danger{% else %}btn-primary{% endif %}" href="/animate/{{key}}">{{a.name}}</a>
                </th>
                <td>{{a.description}}<td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>